# Fill your API keys here if you want to enable tests with live traffic
# Check out test_settings.yaml to enable by tests
OPENAI_API_KEY=
MINMAX_GROUP_ID=
MINIMAX_API_KEY=
PINECONE_API_KEY=
PINECONE_ENDPOINT=